<div class="container" ng-init="getNearbyStores()">
    <div class="row">
        <div class="col">
            
        </div>
    </div>

    <div class="row" ng-if="currentAddress">
        <div class="col">
            <h4>
                <span class="text-muted">Κοντινά καταστήματα σε:</span> <br>
                {{ currentAddress.alias }}
                (
                    {{ currentAddress.street }} {{ currentAddress.number }}, 
                    {{ currentAddress.postal_code }}
                    {{ currentAddress.city }}
                    {{ currentAddress.country }}
                )
                <footer class="blockquote-footer" ng-if="currentAddress.notes">
                    {{ currentAddress.notes }}
                </footer>

            </h4>
        </div>
    </div>

    <div class="row" ng-if="stores.length > 0">
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <h2>Filters</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul  class="filter-categories">
                        <li ng-repeat="filter in filters">
                            {{ filter.name }}
                            <ul class="subfilters">
                                <li 
                                    ng-repeat="sub in filter.filters"
                                    ng-click="setFilter(sub.id)"
                                    ng-class="{'active': selected_filters[sub.id]}"
                                >
                                    {{ sub.name }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <h2>Katasthmata</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="stores-list">
                        <li ng-repeat="store in stores | filter: checkFilters">
                            <a href="order/{{ currentAddress.id }}/store/{{ store.id }}">
                                <img ng-src="{{ store.photo }}" height="50"/>
                                {{ store.name }},
                                {{ store.distance | number:1 }}km
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="storeLoader">
        <div class="col">
            <img src="images/loader.gif" class="stores-loader"/>
        </div>
    </div>
</div>